@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");

:root {
  font-family: "IBM Plex Sans", sans-serif;
  color: #f5f5f5;
}

body {
  background-image: url("./resources/sunset-valley-landscape-illustration-vector-mirror.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: max(1344px, 100vw);
  backdrop-filter: brightness(75%);

  box-sizing: border-box;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 5% 10px 5%;
}

main {
  flex: 0 1 350px;

  display: flex;
  justify-content: space-between;

  .general {
    flex: 0 1 300px;
  }

  form {
    flex: 0;
    align-self: end;
  }

  .details {
    flex: 0 1 300px;
  }
}

.general {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  .location {
    font-size: 2.8rem;
    letter-spacing: 3px;
    text-decoration: underline;
  }

  .weather-desc {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 2.1rem;

    .weather-icon {
      margin: 5px 0px 15px 0px;
      object-fit: none;
      height: 70px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }

  .time {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .temp {
    display: flex;
    font-size: 2rem;

    .data {
      padding-right: 0.5ch;
    }
  }
}

form {
  * {
    background: transparent;
    border: none;
  }

  .search-field {
    display: flex;

    input {
      color: #f5f5f5;
      font-size: 1.1rem;
      outline: none;
      text-transform: capitalize;
    }

    button {
      margin: 5px;
      height: 30px;
      width: 30px;
      background-color: rgba(255, 255, 255, 0.75);
      outline: none;
      border-radius: 100%;
      transition: all 0.05s;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.95);
        transform: scale(110%);
      }

      &:active {
        transition: all 0.01s;
        background-color: rgba(200, 200, 200, 0.75);
        transform: scale(90%);
      }
    }
  }
  .underline {
    height: 2px;
    background-color: white;
  }
}

.details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  padding-top: 20px;

  > * {
    width: max(120px, 70%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    .icon {
      grid-area: 1 / 1 / 3 / 2;
      font-size: 2rem;
      text-align: center;
      transform: translateY(18%);
    }

    .title {
      font-size: 1rem;
      font-weight: 800;
    }

    .data-container {
      display: flex;
      font-size: 1.2rem;

      .data {
        padding-right: 0.5ch;
        flex: 0 1 0px;
      }
    }
  }
}

.gif {
  align-self: center;
  width: max-content;
  object-fit: scale-down;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

.forecast {
  flex: 0 1 120px;

  display: flex;

  > * {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .day-name {
      font-size: 1.2rem;
    }

    .temp-container {
      font-weight: 800;
    }

    .icon {
      object-fit: none;
      height: 70px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }
}

footer {
  font-weight: normal;
  font-size: 0.9rem;
  text-align: right;
}
