@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");

:root {
  font-family: "IBM Plex Sans", sans-serif;
  color: #f5f5f5;
}

body {
  background-image: url("./resources/sunset-valley-landscape-illustration-vector-mirror.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: max(1344px, 100vw);
  backdrop-filter: brightness(80%);

  box-sizing: border-box;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

main,
footer {
  // box-sizing: border-box;
  // border: thin red solid;
}

main {
  flex: 0 1 400px;
  display: flex;
  justify-content: space-between;

  .general {
    flex: 0 1 300px;
  }

  form {
    align-self: end;
  }

  .details {
    flex: 0 1 300px;
  }
}

.general {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  .location {
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-decoration: underline;
  }

  .weather-desc {
    text-transform: capitalize;
    font-weight: thin;
    font-size: 2.1rem;

    .weather-icon {
      object-fit: none;
      height: 70px;
    }
  }

  .time {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .temp {
    display: flex;
    font-size: 2rem;

    .data {
      padding-right: 0.5ch;
    }
  }
}

form {
  * {
    background: transparent;
    border: none;
  }

  input {
    color: #f5f5f5;
    font-size: 1.1rem;
    outline: none;
    text-transform: capitalize;
  }

  button {
    margin: 5px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 100%;
  }

  .underline {
    height: 2px;
    background-color: white;
  }
}

.details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  padding-top: 20px;

  > * {
    width: max(120px, 70%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    .icon {
      grid-area: 1 / 1 / 3 / 2;
      font-size: 2rem;
      text-align: center;
      transform: translateY(18%);
    }

    .title {
      font-size: 1rem;
      font-weight: 800;
    }

    .data-container {
      display: flex;
      font-size: 1.2rem;

      .data {
        padding-right: 0.5ch;
        flex: 0 1 0px;
      }
    }
  }
}

footer {
  flex: 0 1 200px;
}
